.page-break-custom {
  display: block;
  margin-bottom: 10px;
  list-style: none;
}
.page-break-custom .pages {
  margin-right: 15px;
  /*width: 30%;*/
	float: left;
}

.page-break-custom ul{
    list-style: none;
    display: block;
}

.page-break-custom ul li{
    display: inline-block;
}

.page-break-custom a:hover,
.page-break-custom a:focus {
	background-color: #707070;
	background-color: rgba(51, 51, 51, 0.7);
	border-color: transparent;
	color: #fff;
}

	.page-break-custom a {
  border: 1px solid #EAEAEA;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
	margin: 0 0.25em 0.25em 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
	background-color: #333;
	border-color: #333;
	color: #fff;
	padding: 8px;
}
ul.paged .current a {
	background: #ccc;
}
